<h1>WELCOME TO THIS PAGE</h1>
<form action='/' method='POST'>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value='a@a.com'>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id='password' name="password" value='aaa'>
    </div>
    <input type='submit' value='login'>
</form>

{{message}}
<a href='/'>LOGIN</a>