@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body{
    font-family: 'Oswald', sans-serif;
}

h1{
    text-transform: uppercase;
}

.offset:before{
    height:4rem;
    margin-top:-4em;
    display:block;
}
.navbar{
    text-transform:uppercase; 
    font-weight: 700;
    letter-spacing: 0.05em;
    background: #1d2530bb!important;
}

.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:hover{
    color:red !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:white!important;
}

.carousel-item{
    height:100vh;
}

.carousel-item img{
    height: 100%;
    object-fit:cover;
}
.carousel-caption{
    position: absolute;
    top:50%;
    text-transform:uppercase;

}

.narrow{
    padding: 0!important;
    margin:0!important;
}

.heading-underline{
    width:3em;
    height:.2rem;
    background-color: rgb(87, 19, 19);
    margin:0 auto 2rem;
}

.row{
    margin-left: 0em !important;
    margin-right: 0em !important;
}

.no-padding img{
    height:300px;
    width:100%;
    object-fit:cover; 
    transition:transform 0.5s ease;
}

.no-padding img:hover{
    transform:scale(1.1);
}
.portfolio{
    padding:0!important;
    overflow:hidden;
    cursor:zoom-in;
}

#contact a{
    color:grey;
}

.gallery-block{
    padding-top:3rem;
}

.card-img-top{   
    height:35vh;
    width:40vh;
}
