<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
         <a class="navbar-brand" href="#">
    <img src="./Screen Shot 2020-05-13 at 2.46.59 PM.png" width="30" height="30" class="d-inline-block align-top" alt="">
Pizza Pizza
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Gallery</a>
    </li>
  </ul>
</nav>
    <h1>Welcome to pizza pizza</h1>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>