<div class="row ">
    <div class="col-md-3"><img width="500" height="400"src="./pic1.png"></div>
    <div class="col-md-3"><img width="500" height="400"src="./pic2.png"></div>
    <div class="col-md-3"><img width="500" height="400"src="./pic3.png"></div>
    <div class="col-md-3"><img width="500" height="400"src="./pic4.png"></div>
</div>