html{
    scroll-behavior: smooth;

}
.navbar {
    border-bottom:1px solid rgb(236, 236, 236);
}
.navbar a:hover  {
    color: white!important;
}

.navbar a{
    color: rgb(252, 243, 243)!important;
}

header{
    height: 780px;
    background-image:url(./chelovek-more-tuman-1.jpg);
    background-size: auto;
    position:relative;
}

.header-content{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    position: absolute;
    top:30%;
    text-align:center;
}

h1{
    font-size: 65px;
    color:white;
    font-weight: 600;
}

p{
    color:rgb(243, 242, 242);
    margin-bottom: 30px;
}

hr{
    border-width:3px;
    margin:40px auto;
    display: block;
}

.header-content-inner p{
    font-size:18px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
}
.btn-xl{
    padding:15px 30px;
}
.btn{
    border-radius: 200px;
}

section{
    padding:80px 0px;
}

.row{
    margin:0px 15px;
}

h3{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: white;
}

i{
    font-size: 6em;
}

.random_pic {
    height:300px;
    width:100%;
}

.bg-transparent{
    background-color: transparent!important;
}
.bg-transparent.scrolled{
    background-color: darkcyan!important;
}